@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

body {
  margin: 0;
}

h1 {
  font-size: 1.7em;
}

img {
  margin: 0 auto;
  max-width: 100%;
}

em {
  font-style: normal;
  font-weight: bold;
}

footer {
  color: rgb(0, 89, 255);
  font-size: 9pt;
  font-family: sans-serif;
}

footer p {
  margin: 0;
}

footer a {
  color: inherit;
}

.main {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 103%;
  line-height: 1.7;
  margin-top: 1.5rem;
  letter-spacing: 1.3px;
  word-spacing: -4.3px;
}

footer, .main, .icon-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  padding: 0 1rem;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.border {
  border: 1px solid black;
}

.icon {
  margin: 0 0.5em;
}

.icon > img {
  filter: grayscale(1);
  width: 2.5em;
}

.hidden {
  display: none;
}

.icon-container {
  display: flex;
}

/* hero image */

.hero {
  width: 100%;
  overflow: hidden;
}

.hero img {
  width: 100%;
  margin-top: -15%;
  margin-bottom: -25.8%;
}

@media (max-width: 1200px) {
  .hero img {
    margin-top: -15%;
    margin-bottom: -20%;
  }
}

@media (max-width: 800px) {
  .hero img {
    margin-top: -15%;
    margin-bottom: -13.5%;
  }
}

@media (max-width: 600px) {
  .hero img {
    margin-top: -8%;
    margin-bottom: -13.5%;
  }
}
